/* 
  Ampersand Theme for presentations

  @theme ampersand
  @author zeta
  @auto-scaling true
*/

@import 'dracular';

section {
  background: rgb(40, 40, 40);
  color: #135;
  display: flex;
  align-items: center;
  padding: 2rem;
  font-size: 1.5rem;
}

h1, h2 {
  z-index: 5;
  padding: 25%;
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 3px 3px 2px green;
}

li {
  padding: 5px;
}

h3, h4 {
  z-index: 5;
  color: white;
  font-size: 2rem;
  text-shadow: 3px 3px 2px black;
  text-align: center;
}

section {
    display: flex;
    color: white;
    flex-flow: column wrap;
}
li {
    flex-direction: row;
    font-size: 1rem;
}

.green-color {
  color: green;
  background-color: white;
}

.subtitle {
  margin-left: -100%;
  margin-top: 40%;
}

.center {
  align-self: center;
}

.left {
  align-self: flex-start;
  margin-top: auto;
  margin-left: 0;
}

.center-img {
  align-self: center;
  margin-top: -10%;
}

.bottom_right {
  align-self: flex-end;
  margin-top: auto;
}

.to-back {
  z-index:-1;
}

.bottom {
  align-self: flex-end;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  left: 25%;
}

.pseudo-headline {
  margin-left: 10%;
  margin-top: 25%;
}

.quote {
  font-size: 5.5rem;
  font-style: oblique;
  margin-left: auto;
  margin-right: auto;
}

.punk-text{
  background-color: green;
  font-size:1.5rem;
  color: white;
  mix-blend-mode: screen;
  transform: rotate(-3deg);
}